.plus-friend {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.plus-friend__profile i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  background-color: #65ebc3;
}

.now-listening {
  font-size: 15px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 7px;
}
